@import 'fonts';
@import 'variables';
@import 'colors';
@import 'typography';
@import 'ant-design-vue/dist/reset.css';

* {
	box-sizing: border-box;
}

html {
	font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
	font-size: 14px;
	color: var(--text-body-light-color);
	background-color: var(--surface-secondary-color);
	min-width: 375px;
}

html,
body {
	margin: 0;
}

body {
	display: grid;
	grid-template-rows: 100vh;
}

input,
button,
textarea,
select {
	font: inherit;
}
