:root {
	--font-family: 'Inter', sans-serif;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semiBold: 600;
	--font-weight-bold: 700;

	--transition-duration: 0.3s;
}

/* Breakpoints */
$mq-breakpoints: (
	mobile: 375px,
	tablet: 768px,
	tablet-album: 1024px,
	desktop: 1440px,
);
